.addMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(176, 233, 214);
}

.movieLists{
    background-color: rgb(147, 189, 225);
}
.movieLists h1{
    margin: 0;
}